.ProductData{
    width:100%;
  }
.ProductTitle{
  
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    
  
  }
  .ProductDescription{
    font-size: 20px;
   color: rgba(0,0,0,0.8);
   margin-top: 0;
    margin-bottom: 16px;
    
  
  }
  .ProductImage{
    width: 100%;
    max-width: 80px;
    border: 2px solid transparent;
    border-radius:8px ;
    margin-right: 12px;
    cursor: pointer;
  }
  .SelectedProductImage{
    border: 2px solid teal;
  }
  .SectionHeading{
    font-size: 28px;
    margin-bottom: 8px;
  }
  .featureItem{
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    padding: 12px 12px;
    margin-right: 12px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    font-weight: 600;
  }
  .SelectedFeatureItem{
    color: white;
    background-color: grey;
  }
  .PrimaryButton{
    padding:12px 24px ;
    color: white;
    background-color: teal;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    margin-top: 36px;
    cursor: pointer;
  }